body {
  font-family: 'TeachableSans-Regular';
  color: #5f5f5f;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.7px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

header {
  padding: 40px 0;

  @include breakpoint(xs-sm) {
    text-align: center;
  }

  h1 {
    font-family: 'TeachableSans-SemiBold';
    line-height: 50px;
    color: black;
    margin-bottom: 10px;
  }

  h2 {
    color: gray;
  }
}

footer {
  background-color: #f8f3f0;

  .row div {
    text-align: center;
    color: #2c2f33;
    @include breakpoint(xs-sm) {
      padding: 20px;

      &:nth-of-type(6) {
        padding-bottom: 50px;
      }
    }
    @include breakpoint(md) {
      padding: 50px;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  img {
    width: 32px;
    height: 32px;
  }
}
