body {
  font-family: 'TeachableSans-Regular';
  color: #5f5f5f;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.7px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

header {
  padding: 40px 0;

  @include breakpoint(xs-sm) {
    text-align: center;
    padding-top: 0;
  }
  
  nav {
    @include breakpoint(md) {
      display: none;
    }
  }

  h1 {
    font-family: 'TeachableSans-SemiBold';
    line-height: 50px;
    color: black;
    margin-bottom: 10px;
  }

  h2 {
    color: gray;
  }

  h3 {
    color: black;
    line-height: 40px;
    text-align: center;
    font-family: 'TeachableSans-SemiBold';
    font-size: 30px;
    margin-bottom: 20px;
    @include breakpoint(xs-sm) {
      margin-top: 10px;
    }
  }

  ul.nav-menu {
    position: absolute;
    right: 0;
    top: 0;

    li {
      display: inline-block;
      padding: 10px 20px;

      &:hover {
        color: #337ab7;
      }
    }
  }
}

.homepage {
  font-size: 20px;
  text-align: center;
  
  .row.images {
    
    img {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  p {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 40px;
    }
  }

  a {
    font-size: 16px;
    font-family: 'TeachableSans-Bold';
    margin-bottom: 40px;
  }
}

.main-content-desktop-margin {
  @include breakpoint(md) {
    margin-bottom: 20px;
  }
}

.staff-bio {

  h4 {
    text-align: center;
    font-family: 'TeachableSans-SemiBold';
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
  }

  img {
    display: block;
    width:  250px;
    height: 250px;
    border: solid 1px black;
    margin: auto;
    margin-bottom: 20px;
  }

  p:not(:last-of-type) {
    margin-bottom: 15px;
  }

  p:last-of-type {
    margin-bottom: 40px;
  }
}

.contact {
  font-size: 20px;
  text-align: center;

  p {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 40px;
    }
  }

  a {
    color: black;
    font-family: 'TeachableSans-Bold';
  }
}

footer {
  background-color: #f8f3f0;
  @include breakpoint(xs-sm) {
    padding-top: 20px;
  }

  .row div {
    text-align: center;
    color: #2c2f33;
    @include breakpoint(xs-sm) {
      padding: 20px;

      &:nth-of-type(6) {
        padding-bottom: 50px;
      }
    }
    @include breakpoint(md) {
      padding: 50px 0;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  img {
    width: 32px;
    height: 32px;
  }
}
