body {
  font-family: 'TeachableSans-Regular';
  color: #5f5f5f;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.7px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

footer {
  background-color: #f8f3f0;
}
